.pdma_login_main h3 {
    color: #000;
    font-size: 18px;
}
.pdma_login_main{
    background: #eae7dc;
    padding:20px 20px;
    box-shadow: 0 0 10px #eae7dc;
    border-radius: 10px;
    margin:0 auto;
    width: 90%;
}
.pdma_login_main .card {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.pdma_login_main .card .card-body {
    padding: 0;
}
.pdma_login_main button.btn.btn-block.btn-primary{
    width: 200px;
    border-radius: 0;
    margin: 0 auto;
    padding: 10px;
    background: #8e8d8a;
    color: #fff!important;
    font-weight: bold;
    border: none;
}
.pdma_login_main button.btn.btn-block.btn-primary:hover {
    box-shadow: 0 0 5px #000;
}
span.required {
    padding-left: 2px;
    color: #e85a4f;
    font-weight: bold;
}
a:hover{
    color:#e85a4f;
}
.text-center a {
    color: #000;
}