
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-body {
    padding: 15px;
}
.panel-body:before {
    display: table;
    content: " ";
}
.panel-body:before {
    display: table;
    content: " ";
}
.panel-left {
    width: 100px;
    height: 100px;
    background: #0866C6; /* border: 2px solid #4590DA; */
    /* border-radius: 100%; */
    overflow: hidden;

    margin: 12px;
}

.panel-left .fa-5x {
    font-size: 3em;
    color: rgb(240, 155, 34);
    padding: 29px 0;
    margin-bottom: 30px;
}

.panel-right {
    height: 124px;
    background: transparent;
    margin-bottom: 0;
    color: #AFAFAF;

    float: left;
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    text-shadow: none;
    font-weight: normal;
    text-align: center;
}

.panel-right h3 {
    font-size: 40px;
    padding: 18px 10px 13px 0;
    color: #5D5D5D;
}

.panel-right strong {
    font-weight: normal;
    color: #737373;
}

.panel-back {
    background-color: #fff;

}

.panel-default {
    border-color: #ECECEC;
}

.panel-default > .panel-heading {
    color: #555;
    border-color: #FFF;
    font-weight: bold;
    background: #FFFFFF;
    font-size: 16px;
    text-shadow: none;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.panel-primary {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}

.panel-left {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    overflow: hidden;
    margin: 14px;
}
.panel-info {
    border-color: #d8d6d1;
}
.panel-info>.panel-heading {
    color: #000;
    background-color: #d8d6d1;
    border-color: #d8d6d1;
}
.app-body .main {
    min-height: 900px !important;
}
.box_dashboard h4{
    color: #000;
    background-color: #d8d6d1;
    border-color: #d8d6d1;
    width: 100%;
    text-align: center;
    padding: 6px;
    font-size: 20px;
    margin: 0;
}
.box_dashboard .col-md-6,.box_dashboard .col-md-2, .box_dashboard .col-md-1{
    padding: 5px 10px;
    border: 1px solid #405785;
    font-size: 15px;
}
.bg-light .box_dashboard h4{
    background: #f1f4f8!important;
}
.box_dashboard {
    width: 100%;
}
.row.bg-white.text-center.mt-2.additional_space {
    margin-top: 20px !important;
}
